<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>OCPJWCD</display-name>
	<servlet>
		<servlet-name>q16</servlet-name>
		<servlet-class>Q16</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>q16</servlet-name>
		<url-pattern>/q16</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>c13q12</servlet-name>
		<jsp-file>/jsp/C13Q12.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>c13q12</servlet-name>
		<url-pattern>/c13q12</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>c17q4</servlet-name>
		<jsp-file>/jsp/C17Q4.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>c17q4</servlet-name>
		<url-pattern>/c17q4</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>c17q14</servlet-name>
		<jsp-file>/jsp/C17Q14.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>c17q14</servlet-name>
		<url-pattern>/c17q14</url-pattern>
	</servlet-mapping>
	

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>